#newReportContainer{
    margin-top: 1rem;
}

.picker{
    width:100%;
}

#reportContainer{
    margin-top: 1rem;
}

.reportTile{
    margin-top: 1rem;
}

#reportFiltersContainer{
    margin-top: 1rem;
}